.search{
    /* border: 1px solid red; */
    height: 40px;
    margin: 10px 0px;
    background-color: #eee9e971;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: searchAnimation 0.5s ease-in-out;

    & input{
        border: none;
        outline: none;
        width: 95%;
        height: 100%;
        padding: 5px 20px;
        background-color: transparent;
    }
    & .search_icon{
        width: 5%;
        height: 50%;
        cursor: pointer;
        /* font-size: 19px !important; */
        /* margin-right: 5px; */
    }
}
.search-results{
    /* border: 2px solid red; */
    max-height: 300px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 5px;
    }
}


.result-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.263);
    height: 50px;
    display: flex;
    align-items: start !important;
    justify-content: space-between;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 7px ;
    overflow: hidden;
    transition: all ease 0.28s;
    &:hover{
        background-color: #eee9e971;
    }

    & .avtar_con{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 15px;
        /* border: 2px solid red; */
        width: 30%;
        margin-left: 40px;

        & .rep_name{
            font-weight: 450;
            font-size: 14px;
            text-transform: capitalize;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    & .search_loc{
        font-weight: 400;
            font-size: 13px;
            text-transform: capitalize;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: start;
            margin-right: 20px;
            /* border: 2px solid red; */
            width: 20%;
    }
}
.msg{
    width: 100%;
    /* border: 2px solid red; */
    font-size: 14px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(113, 104, 104);
}

@keyframes searchAnimation {
    0%{
        scale: 0.5;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
.none{
    display: none !important;
}

@media (width<850px) {
    .result-item{
        /* background-color: red !important; */
    }
    .hide{
        display: none !important;
    }
    .avtar_con{
        width: 60% !important;
        margin-left: 20px !important;
    }
    .search_icon{
        margin-right: 15px !important;
    }
}
@media (width<412px) {
    .avtar_con{
        margin-left: 5px !important;
        gap: 7px !important;
        & .rep_name{
            font-size: 12px !important;
        }
    }
}
.loader_con{
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    margin: auto;

    & .loader{

    }
}

/* From Uiverse.io by alexruix */ 
/* From Uiverse.io by abrahamcalsin */ 
.dot-spinner {
    --uib-size: 2rem;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
